/* styles.css */

/* Подключение шрифтов и базовые стили для body */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('111.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: FFFFF; 
    background-color: rgba(0, 0, 0, 0.7);
    filter: brightness(0.7);
}

/* Стили для заголовков */
.main-title {
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 70px;
    color: black; 
    margin-bottom: 10px;
}

.section-title {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Стили для текста */
.intro-text,
p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: black; 
}

/* Стили для шапки (header) */
.header {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Прозрачный фон */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: transparent; /* Прозрачный фон */
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
    background-color: transparent; /* Прозрачный фон */
}


.header-image img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для навигации (nav) */
.nav,
.content-section,
.footer {
    margin: 20px;
    padding: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0); /* Абсолютно прозрачный цвет */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list li {
    display: inline;
    margin-right: 20px;
    color: white; /* Белый цвет текста */
    transition: color 0.3s;
}

.nav-list li:hover {
    color: blue;
}
